.btn-container {
  display: flex;
  flex-direction: row;
}

.btn-normal {
  width: 150px;
  height: 40px;
  margin-left: 30px;
  font-size: medium;
  border-radius: 6px;
  border-width: 0px;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  color: #0071e1;
}

.btn-normal:hover {
  color: white;
  background-color: #0071e1;
  transition-duration: 300ms;
}

.btn-transition:hover {
  transform: translateY(-0.25rem);
  scale: calc(1.1);
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-delay: 150ms;
}

.split-container {
  margin-left: 20px;
}

.btn-split {
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  padding: 10px;
  font-size: medium;
  border-width: 0px;
  background-color: #0071e1;
  color: #fff;
}

.btn-split:hover {
  color: white;
  background-color: #0053a7;
  transition-duration: 300ms;
}

.dropdown {
  position: absolute;
  display: inline-block;
}

.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.group-container {
  margin-left: 70px;
}

.group {
  background-color: #0071e1;
  border: none;
  color: #fff;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: medium;
  cursor: pointer;
}

.group:hover {
  background-color: #0053a7;
}
