.add-container {
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(18px);
  position: absolute;
  z-index: 50;
  width: 100%;
  height: 100%;
}

.add-box {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: fit-content;
  width: 300px;
  padding: 70px;
  border-radius: 30px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.add-material-textfield {
  position: relative;
  margin-top: 20px;
}

.add-label {
  position: absolute;
  font-size: 1rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  color: gray;
  padding: 0 0.3rem;
  margin: 0 0.5rem;
  transition: 0.1s ease-out;
  transform-origin: left top;
  pointer-events: none;
}
.add-input {
  font-size: 1rem;
  outline: none;
  width: 240px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  color: black;
  transition: 0.1s ease-out;
}
.add-input:hover {
  border-color: black;
}
.add-input:focus {
  border-color: #0071e1;
}
.add-input:focus + label {
  color: #0071e1;
  top: 0;
  transform: translateY(-50%) scale(0.9);
}
.add-input:not(:placeholder-shown) + label {
  top: 0;
  transform: translateY(-50%) scale(0.9);
}

.add-btn {
  font-weight: 600;
  width: 250px;
  height: 35px;
  margin-top: 15px;
  font-size: medium;
  border-radius: 8px;
  border-width: 0px;
  cursor: pointer;
  background-color: #0071e1;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  color: white;
}

.add-btn:hover {
  color: #0071e1;
  background-color: white;
  transition-duration: 300ms;
}

.cancel-btn {
  font-weight: 600;
  width: 250px;
  height: 35px;
  margin-top: 15px;
  font-size: medium;
  border-radius: 8px;
  border-width: 0px;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  color: #0071e1;
}

.cancel-btn:hover {
  color: white;
  background-color: #004a94;
  transition-duration: 300ms;
}