.box-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.navbar-logo {
  width: 100px;
}

.button-navbar {
  border: none;
  background-color: transparent;
  color: #000;
  font-size: large;
  margin-left: 24px;
  text-decoration: dashed;
  cursor: pointer;
}

.button-navbar:hover {
  color: #0071e1;
}
